__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
.env
.env.*
outputs/
runs/
logs/
wandb/
*.log
*.tmp
*.zip
*.pth
*.pt
*.ckpt
!weights/ifwi_pretrain_marmousi.pth
.idea/
.vscode/
.DS_Store
Thumbs.db
